<p>parentchild works!</p>
<div>
    <sw-toggleBtn [infoText]=" 'Swabhav'" [OnColor]="'green'" (toggleStateChange)="showAlert($event)"></sw-toggleBtn>

    <sw-star [rating]="1" (onHoverEmitter)="onHover($event)" [title]="msg"></sw-star>
    <sw-star [rating]="2" (onHoverEmitter)="onHover($event)" [title]="msg"></sw-star>
    <sw-star [rating]="3" (onHoverEmitter)="onHover($event)" [title]="msg"></sw-star>
    <sw-star [rating]="4" (onHoverEmitter)="onHover($event)" [title]="msg"></sw-star>
    <sw-star [rating]="5" (onHoverEmitter)="onHover($event)" [title]="msg"></sw-star>


</div>