<p>display-student-component works!</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Roll No</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.id }}</td>
            <td>{{ student.rollNo }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.date }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td *ngIf="student.isMale">Male</td>
            <td *ngIf="!student.isMale">Female</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['../update', student.id]" [innerText]="'Update'"></a>
            </td>
            <td>
                <a class="btn btn-danger" [routerLink]="['../delete', student.id]" (click)="delete(student.id)" [innerText]="'Delete'"></a>
            </td>
        </tr>
    </tbody>
</table>